.App {
  text-align: center;
  display: flex;
}

.bigcontainer{
  width: 100%;
  left: 160px;
}

.line{
  position:fixed;
  height: 100%;
  border-right-width: 5px;
  border-right-color: rgba(196, 6, 95, 0.527);
  border-right-style: double;
}


.topspace{
  margin-top:20px
}

.bottomspace{
  height: 50px;
}





